.api-explorer {
    margin: 10px 20px;
}

.form-body {
    display: flex;
    flex-direction: column;
}

.form-body > input {
    margin: 10px 0;
    width: 50%;
}

.required-field::after {
    content: "*";
    color: red;
}

.response-text {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
}

.response-text > textarea {
    height: 400px;
    overflow: hidden;
    overflow-y: auto;
    font-family: monospace, serif;
    font-size: 12px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: block;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}